header>img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 0.2em;
}

header>h1 {
  text-align: center;
  font-family: 'Nova Square';
  font-size: 17px;
  color: maroon;
}

#match-info {
  color: navy;
  border: 1px solid red;
  background-color: skyblue;
  border-radius: 0.2em;
  padding: 1%;
  margin: 5px;
}

body {
  background: skyblue;
}

.container {
 font-family: 'Nova Square';
 font-size: 13px;
 font-weight: bold;
 margin: 0;
 color: navy;
 text-align: center;
 background: skyblue;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

 .button {
  padding: 15px 25px;
  font-family: 'Nova Square';
  text-align: center;
  cursor: pointer;
  outline: none;
  color: skyblue;
  background-color: maroon;
  border: 1px navy;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: maroon;
  color: skyblue;
}

.button:active {
  background-color: navy;
  color: skyblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.active{
  background-color: navy;
  color: skyblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* #carousel {
  overflow: hidden;
}

#carousel>figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s carousel infinite;
}

 #carousel>figure>img {
   width: 25%;
   float: left;
 }

 @@keyframes carousel {
   0% {
     left: 0;
   }
   20% {
     left: 0;
   }
   25% {
     left: -100%;
   }
   45% {
     left: -100%;
   }
   50% {
     left: -200%;
   }
   70% {
     left: -200%;
   }
   75% {
     left: -300%;
   }
   95% {
     left: -300%;
   }
  100%:{
     left: -400%;
   } */
