@media="screen";

header>img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 0.2em;
}

header>h1 {
  text-align: center;
  font-family: 'Nova Square';
  font-size: 17px;
  color: maroon;
}

#match-info {
  border: 1px solid red;
  color: navy;
  background-color: skyblue;
  border-radius: 0.2em;
  padding: 1%;
  margin: 5px;
}

body {
  background: skyblue;
}

.container {
 font-family: 'Nova Square';
 font-size: 13px;
 /* font-weight: bold; */
 margin: 0;
 color: navy;
 text-align: center;
 background: skyblue;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
}

/* #home {
  column-count: 1;
  float: right;
  width: 400px;
  height: 100px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

#away {
  column-count: 1;
  float: left;
  width: 400px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px
} */


.button {
  padding: 15px 25px;
  font-size: 24px;
  font-family: 'Nova Square', bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: skyblue;
  background-color: maroon;
  border: 1px navy;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: navy}

.button:active {
  background-color: navy;
  box-shadow: 0 5px #666;
  transform: translateY(4px); */
}
